body {
	padding: 0 5em;
	background: #37addc;
	font-family: "Calibri", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;      
}

* {
	box-sizing: border-box;
}

.header {
	padding: 15px 0 0 0;
	color: #fff;
	margin-bottom: 7px;
}

.page {
	width: 100%;
	margin: auto;
	overflow: auto;
	background: #FFFFFF;"
}

.main {
	float: left;
	width: 70%;
	padding: 0 30px;
	overflow: hidden;
}

.right {
	float: left;
	width: 30%;
	padding: 10px 15px;
	margin-top: 7px;
}

.mainadmin {
	float: left;
	width: 100%;
	padding: 0 30px;
	overflow: hidden;
}

.rightadmin {
	float: left;
	width: 0%;
	padding: 10px 15px;
	margin-top: 7px;
}

.h1 {
	font-family: "Roboto", sans-serif;
	margin: 20px;
	color: #fff;
	font-size: 1.8em;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
	body {
	padding: 0 1em;
}
  .main {
	width: 80%;
    padding: 0 15px 0 15px;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
    body {
	padding: 0 0em;
}
  .menu, .main, .right {
	width: 100%;
  }
}

.topnav {
	overflow: hidden;
	background-color: #fff;
	color: #000;
	border-radius: 5px 5px 0 0;
}

.topnav a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background: #e1e1e1;
	color: #000;
}

.topnav .active {
	background: #c1c1c1;
	color: #fff;
}

.topnav .icon {
	display: none;
}

/* Table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    text-align: left;
    padding: 8px;
	background-color: #4CAF50;
    color: white;
	border-color: #ddd !important;
	text-transform: uppercase;
	border: 1px solid #ddd;
	padding: 7px 17px;
}

td {
    text-align: left;
    padding: 8px;
	border: 1px solid #ddd;
	padding: 7px 17px;
	color: #353535;
}

td:first-child,
td:nth-child(4),
td:last-child {
	text-align: left;
}

tr:nth-child(odd) td {
	background-color: #f4fbff;
}
tr:hover td {
	background-color: #ffffa2;
	border-color: #ddd;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Gallery */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/*  image zoom */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Form */

.form input, textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #37addc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
}

.form button:hover,.form button:active,.form button:focus {
  background: deepskyblue;
}

.form .heading {
  margin: 15px 0 0;
  color: #000;
  font-size: 1em;
  padding: 0 0 2em 0;
}

.form .info {
  margin: 15px 0 15px 0;
  color: #b3b3b3;
  font-size: 1.2em;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 1em;
}

.form .message a {
  color: #b3b3b3;
  text-decoration: none;
}

.form .message a:hover {
  color: #37addc;
  text-decoration: none;
}


.footer {
	background-color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 7px;
	font-size: 1em;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 0 0 5px 5px;
}